MerakiLocationDispatcher.json
[
    {
        "id": "b25e668.40e5f98",
        "type": "Meraki CMX",
        "z": "72002db3.8d0c14",
        "name": "",
        "url": "/dispatcher",
        "settings": "5cfb33a7.8de6bc",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "d0b19225.56fef",
                "5b64692e.4604a8"
            ]
        ]
    },
    {
        "id": "d0b19225.56fef",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "Dispatcher",
        "func": "// This function will relay the msg.payload\n// to all of the listed URLs.\ndata = msg.payload;\nurls = flow.get('validatedUrls') || [];\nmsg = {} // reset msg object\n\nif(urls){\n// Iterate through each URL and send the payload\n    for (var x = 0; x < urls.length; x++){\n        msg.url = urls[x].url;\n        msg.name = urls[x].name;\n        msg.payload = data;\n        node.send(msg); \n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "39296b23.729304",
                "123bf272.b6a25e"
            ]
        ]
    },
    {
        "id": "123bf272.b6a25e",
        "type": "http request",
        "z": "72002db3.8d0c14",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "a93e3d24.e4d09"
            ]
        ]
    },
    {
        "id": "a93e3d24.e4d09",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "cmxDispatcher - Response Payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "67236257.ba64fc",
        "type": "comment",
        "z": "72002db3.8d0c14",
        "name": "Meraki Location / CMX Dispatcher",
        "info": "Cisco Meraki Wireless can provide location\nobservations that includes X,Y or GPS coordinates\nof WiFi and BLE devices. \n\nThe Meraki Dashboard is limited to 4 Post URLs, \nwhich is typically enough for a normal system. \nIn some scenarios, such as a lab environment\nor educational setting, you may want to have \nseveral more receivers.\n\nThis Node-RED flow will simply relay the JSON\nmessages receieved from Meraki to the list\nof URLs named in the function.",
        "x": 600,
        "y": 20,
        "wires": []
    },
    {
        "id": "39296b23.729304",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "cmxDispatcher - Request Object",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 280,
        "y": 320,
        "wires": []
    },
    {
        "id": "a9682d31.a7392",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "Set default POST URLs and Validator- UPDATE ME",
        "func": "\n\n// Add your own CMX Location API receivers here or via the API\n\n\nvar urls = [\n    {\n        \"name\": \"lab1\",\n        \"url\": \"http://localhost:1880/scanning\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab2\",\n        \"url\": \"http://localhost:1881/scanning\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab3\",\n        \"url\": \"http://localhost:1882/scanning\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    }\n];\n\nflow.set('urls',urls);\nmsg.payload = flow.get('urls');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 483.75,
        "y": 90.00000190734863,
        "wires": [
            [
                "a81bdaa8.13c278"
            ]
        ]
    },
    {
        "id": "fae94b12.81f098",
        "type": "inject",
        "z": "72002db3.8d0c14",
        "name": "Initialize POST URLs",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 153.75,
        "y": 90.00000190734863,
        "wires": [
            [
                "a9682d31.a7392"
            ]
        ]
    },
    {
        "id": "a81bdaa8.13c278",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "CMX POST URLs - Flow Context",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 833.75,
        "y": 90.00000190734863,
        "wires": []
    },
    {
        "id": "77ed8f8f.2ed81",
        "type": "comment",
        "z": "72002db3.8d0c14",
        "name": "Write a Filter Here",
        "info": "",
        "x": 434.5,
        "y": 227,
        "wires": []
    },
    {
        "id": "a518b8a3.04a618",
        "type": "switch",
        "z": "72002db3.8d0c14",
        "name": "apTag filter",
        "property": "payload.data.apTags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Susie",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "123bf272.b6a25e"
            ]
        ]
    },
    {
        "id": "bfe8dd58.d3a24",
        "type": "comment",
        "z": "72002db3.8d0c14",
        "name": "Validate URLs",
        "info": "",
        "x": 90,
        "y": 440,
        "wires": []
    },
    {
        "id": "e62a097b.c3fa78",
        "type": "http request",
        "z": "72002db3.8d0c14",
        "name": "Check Validator",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "12fd1299.9eec2d",
                "60074839.8294c8"
            ]
        ]
    },
    {
        "id": "12fd1299.9eec2d",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "response validator",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "60074839.8294c8",
        "type": "switch",
        "z": "72002db3.8d0c14",
        "name": "statusCode == 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "54762e74.c9ca2",
                "80cce3b2.ce61f"
            ]
        ]
    },
    {
        "id": "54762e74.c9ca2",
        "type": "switch",
        "z": "72002db3.8d0c14",
        "name": "validator matches",
        "property": "validator",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "72c3a8fc.0ce3b8",
                "e1df0247.c3097"
            ]
        ]
    },
    {
        "id": "72c3a8fc.0ce3b8",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "Validated",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "80cce3b2.ce61f",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "url responded",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "e1df0247.c3097",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "set validatedUrls",
        "func": "validatedUrls = flow.get('validatedUrls') || [];\nvar updatedUrls = {\n    url: msg.url,\n    name: msg.name,\n    validator: msg.validator\n};\nflow.set('validatedUrls',updatedUrls);\n\nflow.set('validatedUrls', validatedUrls.concat(updatedUrls));\nmsg.payload = flow.get('validatedUrls');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 620,
        "wires": [
            [
                "c46034c0.7cd628"
            ]
        ]
    },
    {
        "id": "c46034c0.7cd628",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "Validated URLs",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 920,
        "y": 620,
        "wires": []
    },
    {
        "id": "5b64692e.4604a8",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "API Data",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "9cb0e209.dd409",
        "type": "http in",
        "z": "72002db3.8d0c14",
        "name": "",
        "url": "/urls",
        "method": "post",
        "swaggerDoc": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "22d84fbc.fadb"
            ]
        ]
    },
    {
        "id": "22d84fbc.fadb",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "set urls",
        "func": "flow.set('urls',msg.payload);\n//flow.set('validator',validator);\nmsg.payload = flow.get('urls');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 800,
        "wires": [
            [
                "baf11e98.f4448",
                "8585fe19.231c2",
                "ebbc18b2.9b6708"
            ]
        ]
    },
    {
        "id": "baf11e98.f4448",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "CMX POST URLs - API",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 840,
        "wires": []
    },
    {
        "id": "8585fe19.231c2",
        "type": "http response",
        "z": "72002db3.8d0c14",
        "name": "",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "9c82fa96.829378",
        "type": "http in",
        "z": "72002db3.8d0c14",
        "name": "",
        "url": "/urls",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "ba7c8f40.b341f"
            ]
        ]
    },
    {
        "id": "ba7c8f40.b341f",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "get urls",
        "func": "msg.payload = flow.get('urls');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 900,
        "wires": [
            [
                "d8178086.a2b47",
                "ef1f679c.60ea48"
            ]
        ]
    },
    {
        "id": "d8178086.a2b47",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "CMX POST URLs - API",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 940,
        "wires": []
    },
    {
        "id": "ef1f679c.60ea48",
        "type": "http response",
        "z": "72002db3.8d0c14",
        "name": "",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "82c9afb3.2c92c",
        "type": "http in",
        "z": "72002db3.8d0c14",
        "name": "",
        "url": "/urls",
        "method": "put",
        "swaggerDoc": "",
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "2251cceb.909c34",
                "bc2910fa.adfa"
            ]
        ]
    },
    {
        "id": "2251cceb.909c34",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "update urls",
        "func": "var urls = flow.get('urls') || [];\nvar submittedUrls = msg.payload;\n\n\nflow.set('urls', urls.concat(submittedUrls));\nmsg.payload = flow.get('urls');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "ad6045eb.642908",
                "f23425bb.f82df8",
                "e32eeae2.c4f648"
            ]
        ]
    },
    {
        "id": "ad6045eb.642908",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "CMX POST URLs - API",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f23425bb.f82df8",
        "type": "http response",
        "z": "72002db3.8d0c14",
        "name": "",
        "x": 510,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bc2910fa.adfa",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "put urls",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 250,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2edf0435.f3155c",
        "type": "comment",
        "z": "72002db3.8d0c14",
        "name": "API to modify Post URLs",
        "info": "sample JSON\n\n[\n    {\n        \"name\": \"Dispatcher\",\n        \"url\": \"http://localhost:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab1\",\n        \"url\": \"http://34.244.14.149:1880/scanning\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab2\",\n        \"url\": \"http://54.154.255.90:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab3\",\n        \"url\": \"http://34.243.249.221:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab4\",\n        \"url\": \"http://34.241.132.16:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab5\",\n        \"url\": \"http://34.244.117.28:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab6\",\n        \"url\": \"http://34.240.245.71:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab7\",\n        \"url\": \"http://34.243.154.193:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab8\",\n        \"url\": \"http://34.245.1.129:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"lab9\",\n        \"url\": \"http://34.244.125.212:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    },\n    {\n        \"name\": \"test\",\n        \"url\": \"http://localhost:1880/cmx\",\n        \"validator\": \"8e0846499d9a3f6c23f7868c4c25b9d6325035f5\"\n    }\n]",
        "x": 160,
        "y": 740,
        "wires": []
    },
    {
        "id": "e5c30255.70e9f",
        "type": "split",
        "z": "72002db3.8d0c14",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "payload",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "7bf4b306.1384fc",
                "827275ef.d2b9e8"
            ]
        ]
    },
    {
        "id": "d8044240.5b96a",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "get urls, reset validatedUrls",
        "func": "// This function will relay the msg.payload\n// to all of the listed URLs.\n\nurls = flow.get('urls');\nflow.set('validatedUrls', []); // clear validated urls\nmsg.payload = urls;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 540,
        "wires": [
            [
                "e5c30255.70e9f"
            ]
        ]
    },
    {
        "id": "7bf4b306.1384fc",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "attributes",
        "func": "\n\nmsg.url = msg.payload.url;\nmsg.name = msg.payload.name;\nmsg.validator = msg.payload.validator;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "e62a097b.c3fa78"
            ]
        ]
    },
    {
        "id": "bbe9dc3.ec9ff2",
        "type": "inject",
        "z": "72002db3.8d0c14",
        "name": "Validate",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "d8044240.5b96a"
            ]
        ]
    },
    {
        "id": "827275ef.d2b9e8",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "Evaluating URL",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "bfa68bad.30c038",
        "type": "http in",
        "z": "72002db3.8d0c14",
        "name": "",
        "url": "/validated_urls",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "a247b585.2731d8"
            ]
        ]
    },
    {
        "id": "a247b585.2731d8",
        "type": "function",
        "z": "72002db3.8d0c14",
        "name": "get validated urls",
        "func": "msg.payload = flow.get('validatedUrls');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "7065f91a.36a868",
                "dcf639fb.6770c8"
            ]
        ]
    },
    {
        "id": "7065f91a.36a868",
        "type": "debug",
        "z": "72002db3.8d0c14",
        "name": "CMX POST URLs - API",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 1180,
        "wires": []
    },
    {
        "id": "dcf639fb.6770c8",
        "type": "http response",
        "z": "72002db3.8d0c14",
        "name": "",
        "x": 510,
        "y": 1140,
        "wires": []
    },
    {
        "id": "47cce030.54846",
        "type": "link in",
        "z": "72002db3.8d0c14",
        "name": "validate",
        "links": [
            "ebbc18b2.9b6708",
            "e32eeae2.c4f648"
        ],
        "x": 115,
        "y": 580,
        "wires": [
            [
                "d8044240.5b96a"
            ]
        ]
    },
    {
        "id": "ebbc18b2.9b6708",
        "type": "link out",
        "z": "72002db3.8d0c14",
        "name": "",
        "links": [
            "47cce030.54846"
        ],
        "x": 475,
        "y": 760,
        "wires": []
    },
    {
        "id": "e32eeae2.c4f648",
        "type": "link out",
        "z": "72002db3.8d0c14",
        "name": "",
        "links": [
            "47cce030.54846"
        ],
        "x": 475,
        "y": 1080,
        "wires": []
    },
    {
        "id": "36c3e089.814a5",
        "type": "comment",
        "z": "72002db3.8d0c14",
        "name": "Scanning API Receiver and Dispatcher",
        "info": "",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "5cfb33a7.8de6bc",
        "type": "meraki-cmx-settings",
        "z": "",
        "name": "Dexter"
    }
]
