MerakiLocationDispatcher.json
[
    {
        "id": "a0c679f8.791248",
        "type": "Meraki CMX",
        "z": "7db4eb76.99fc44",
        "name": "",
        "url": "/cmxDispatcher",
        "settings": "3c535309.7c29cc",
        "x": 122,
        "y": 145,
        "wires": [
            [
                "341497d7.c7a678"
            ]
        ]
    },
    {
        "id": "341497d7.c7a678",
        "type": "function",
        "z": "7db4eb76.99fc44",
        "name": "Dispatcher",
        "func": "// This function will relay the msg.payload\n// to all of the listed URLs.\ndata = msg.payload;\nurls = flow.get('urls');\nmsg = {} // reset msg object\n\n// Iterate through each URL and send the payload\nfor (var x = 0; x < urls.length; x++){\n    msg.url = urls[x].url;\n    msg.name = urls[x].name;\n    msg.payload = data;\n    node.send(msg); \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 147,
        "y": 245,
        "wires": [
            [
                "8db2c036.e3609",
                "f25825eb.656d08"
            ]
        ]
    },
    {
        "id": "24d56f24.a88ea",
        "type": "http request",
        "z": "7db4eb76.99fc44",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 657,
        "y": 241,
        "wires": [
            [
                "2278c42c.6ef94c"
            ]
        ]
    },
    {
        "id": "2278c42c.6ef94c",
        "type": "debug",
        "z": "7db4eb76.99fc44",
        "name": "cmxDispatcher - Response Payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 589,
        "y": 280,
        "wires": []
    },
    {
        "id": "46dced77.02d5c4",
        "type": "comment",
        "z": "7db4eb76.99fc44",
        "name": "Meraki Location / CMX Dispatcher",
        "info": "Cisco Meraki Wireless can provide location\nobservations that includes X,Y or GPS coordinates\nof WiFi and BLE devices. \n\nThe Meraki Dashboard is limited to 4 Post URLs, \nwhich is typically enough for a normal system. \nIn some scenarios, such as a lab environment\nor educational setting, you may want to have \nseveral more receivers.\n\nThis Node-RED flow will simply relay the JSON\nmessages receieved from Meraki to the list\nof URLs named in the function.",
        "x": 160,
        "y": 52,
        "wires": []
    },
    {
        "id": "fab54f28.956cc",
        "type": "inject",
        "z": "7db4eb76.99fc44",
        "name": "",
        "topic": "",
        "payload": "testMessage",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 126,
        "y": 195,
        "wires": [
            [
                "341497d7.c7a678"
            ]
        ]
    },
    {
        "id": "8db2c036.e3609",
        "type": "debug",
        "z": "7db4eb76.99fc44",
        "name": "cmxDispatcher - Request Object",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 249.5,
        "y": 282,
        "wires": []
    },
    {
        "id": "cff76578.e2e128",
        "type": "function",
        "z": "7db4eb76.99fc44",
        "name": "Set POST URLs and Validator- UPDATE ME",
        "func": "// Add your CMX Location API receivers here\n\nvar validator = 123123123;\nvar urls = [\n    {\n        name: 'Dispatcher', // used for testing localhost\n        url: 'http://localhost:1880/cmx'\n    },\n    {\n        name: 'lab1',\n        url: 'http://localhost:1881/cmx'\n    },\n    {\n        name: 'lab2',\n        url: 'http://localhost:1882/cmx'\n    },\n    {\n        name: 'lab3',\n        url: 'http://localhost:1883/cmx'\n    }\n];\n\nflow.set('urls',urls);\nflow.set('validator',validator);\nmsg.payload = flow.get('urls');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 439,
        "y": 108,
        "wires": [
            [
                "e7e785cb.170e48"
            ]
        ]
    },
    {
        "id": "dd860d46.f44fc",
        "type": "inject",
        "z": "7db4eb76.99fc44",
        "name": "Initialize POST URLs",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130.5,
        "y": 106,
        "wires": [
            [
                "cff76578.e2e128"
            ]
        ]
    },
    {
        "id": "e7e785cb.170e48",
        "type": "debug",
        "z": "7db4eb76.99fc44",
        "name": "CMX POST URLs - Flow Context",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 668.5,
        "y": 149,
        "wires": []
    },
    {
        "id": "f1a2c9ca.248f78",
        "type": "comment",
        "z": "7db4eb76.99fc44",
        "name": "Write a Filter Here",
        "info": "",
        "x": 385.5,
        "y": 196,
        "wires": []
    },
    {
        "id": "f25825eb.656d08",
        "type": "switch",
        "z": "7db4eb76.99fc44",
        "name": "apTag contains Susie",
        "property": "payload.data.apTags",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Susie",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 384.5,
        "y": 241,
        "wires": [
            [
                "24d56f24.a88ea"
            ]
        ]
    },
    {
        "id": "3c535309.7c29cc",
        "type": "meraki-cmx-settings",
        "z": "",
        "name": "CiscoLive DevNet"
    }
]
